<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="form" id="form-register">
                <span>Crie a sua conta agora mesmo!</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Digite o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirme a sua senha"
                        required="required">
                </div>
                <a href="/login" class="link"> Clique aqui para fazer o login </a>
                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </div>
    </div>

    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/register.js"></script>
</body>
